@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center bg-light">
        <h1 class="display-4">Evalon Australia</h1>
        
        <img src="~/images/car-main.webp"  class="h-50 w-50"/>
         
    </div>
